#about-div {
  margin-top: 100px;
  align-items: center;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 80px;
}

.gym-image {
  height: 400px;
  width: 700px;
  margin-bottom: 40px;
}

.header {
  margin-bottom: 30px;
}

.paragraph {
  margin-bottom: 70px;
}

#contact-div {
  background-color: rgb(61, 60, 60);
  height: 340px;
}