#about-div {
  margin-top: 130px;
  align-items: center;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 80px;
}

.header {
  margin-bottom: 30px;
}

.paragraph {
  margin-bottom: 70px;
}