
#cart-head-div {
  width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

#items-number {
  text-align: center;
  font-size: larger;
}

#back-button {
  cursor: pointer;
  width: 130px;
}

#label-div {
  display: grid;
  width: 1000px;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

#label-div p {
  text-align: center;
}

#back-button:hover {
  text-decoration: underline;
  color: rgb(157, 144, 122);
}

.item-link {
  display: grid;
  grid-template-columns: 1fr 2fr;
  cursor: pointer;
}

.item-link p:hover {
  color: rgb(157, 144, 122);
}

.quantity-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.quantity-button {
  border: 2px;
  border-color: black;
  border-radius: 50px;
  cursor: pointer;
  font-size: x-large;
}

.item-div {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  padding-left: 8px;
  padding-right: 8px;
  width: 1000px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(199, 199, 199, 0.18) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  box-shadow: rgba(97, 97, 97, 0.25) 0px 4px 8px -2px, rgba(106, 106, 106, 0.08) 0px 0px 0px 1px;
}

.item-div p, #total-cost-div p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-div {
  margin: auto;
  margin-top: 40px;
  display: flex;
  width: 1000px;
  flex-direction: column;
  align-items: center;
}

.item-image {
  height: 80px;
  width: 80px;
  margin-left: 17px;
}

.remove-item {
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 7px;
  padding-right: 7px;
  margin: auto;
  background-color: rgb(157, 144, 122);
  color: white;
  cursor: pointer;
}

#total-cost-div {
  width: 1000px;
  display: grid;
  padding-top: 10px;
  grid-template-columns: 4fr 1fr 1fr;
}

#total-cost-div p{
  display: flex;
  justify-content: right;
  text-align: right;
  padding-right: 10px;
}

#total-label {
  font-weight: 500;
  margin-right: 15px;
}