#search-div {
  margin: auto;
  width: 400px;
  margin-top: 100px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 25px;
  background-color: rgba(240, 240, 240, 0.523);
  flex-direction: row;
  align-items: center;
}

#search {
  width: 400px;
  height: 40px;
  border-radius: 25px;
  padding-left: 8px;
  border: 0px;
  background-color: rgba(227, 227, 227, 0);
  color: rgba(120, 118, 118, 0.774);
}

#search-icon {
  filter: contrast(50%);
  filter: opacity(40%);
}

#search:focus {
  outline: none;
}

#products-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 260px));
  margin: auto;
  width: 100%;
  margin-top: 50px;
}

.product-div {
  width: 216px;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: rgba(152, 152, 154, 0.28) 0px 13px 27px -5px, rgba(0, 0, 0, 0.4) 0px 8px 16px -8px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.product-title, .product-price {
  margin: 0px;
  margin-bottom: 7px;
}

.product-title {
  font-weight: bold;
  height: 30px;
  margin-bottom: 10px;
  text-align: baseline;
  justify-content: center;
}

.add-button, .out-of-stock-button {
  width: 130px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
  margin: auto;
  background-color: rgb(157, 144, 122);
  color: white;
  cursor: pointer;
  margin-bottom: 18px;
}

.out-of-stock-button {
  background-color: rgba(157, 144, 122, 0.564);
  color: rgba(255, 255, 255, 0.607);
}

.fa-shopping-cart {
  margin-left: 5px;
}

.product-image {
  height: 170px;
  width: 170px;
  margin-top: 16px;
}